@tailwind base;
@tailwind components;
@tailwind utilities;


video {
  pointer-events: none;   /* disables user click/pause */
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  -webkit-transform: translateZ(0); /* force GPU acceleration */
  will-change: transform;
}
